# mkdir -p project/{lib/ext,bin,src,doc/{html,info,pdf},demo/stat/a}
# https://stackoverflow.com/questions/793858/how-to-mkdir-only-if-a-dir-does-not-already-exist
# mkdir -p sa{1..50}/sax{1..50}
# https://askubuntu.com/questions/731721/is-there-a-way-to-create-multiple-directories-at-once-with-mkdir

alias exp="echo \"mkdir -p project/{lib/ext,bin,src,doc/{html,info,pdf},demo/stat/a}\""

alias sudo="sudo "
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd ~-"

alias o='open .; osascript -e "tell application \"Finder\" to activate"'
alias r='rename-subs'
alias vlc='/Applications/VLC.app/Contents/MacOS/VLC -f --rate 2'
alias wallpaper='vlc --video-wallpaper'
alias ytdlbest="youtube-dl -f 'bestvideo+bestaudio/best'"
alias yt="youtube-dl -f 'bestvideo[height<=1080]+bestaudio/best[height<=1080]'"
alias ytdl="youtube-dl"
alias ytf="ytdl -F"
alias ytp="ytdl -f 22"
alias ytmp3="ytdl -f 'bestaudio[ext=m4a]'"
alias steg='java -jar ~/GitHub/ctfs/tools/steganography/Stegsolve.jar'
alias nms='nms -a'

alias ls="gls -CFAGXH --color --group-directories-first -I .DS_Store -I 'Icon'$'\r'"
alias lls="gls -CFAGH --color --group-directories-first -I .DS_Store -I 'Icon'$'\r'"
alias l="gls -lAhFoGXH --color --group-directories-first"
alias ll="gls -lAhFoGH --color --group-directories-first"
alias cp='cp -i'
alias mkdir='mkdir -p'
alias grep='grep --exclude-dir={.git,env,__pycache__}'
alias rg='rg --glob "!\{.git/,env/,__pycache__/\}"'
alias g='rg -i'

alias du='du -sch'
alias size="globs;\du -sch * .* | gsort -h"
# alias du='du -sch .[!.]* *'

alias ez='exec zsh'
alias a='subl ~/.aliases'
alias zz='subl ~/.zshrc'

alias d='cd ~/Desktop'
alias myfortune='fortune -ae 50% /usr/local/Cellar/fortune/9708/share/games/fortunes/off /usr/local/Cellar/fortune/9708/share/games/fortunes/'

alias pip3="python3 -m pip"
# alias pip="python3 -m pip"

alias exif="exiftool -all="

alias ffmpeg="ffmpeg -hide_banner"

alias say="say -r 200"
alias sayo="\say -r 200 -o"
alias lsregister="/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister"
alias register="lsregister -f"

alias speedtest="speedtest -B"
alias speed="speedtest -B"
alias speeed="speedtest -B"
alias speeeed="speedtest -B"
alias speeeeed="speedtest -B"
alias speeeeeed="speedtest -B"
alias speeeeeeed="speedtest -B"
alias speeeeeeeed="speedtest -B"
alias speeeeeeeeed="speedtest -B"
alias speeeeeeeeeed="speedtest -B"
alias connor="mcstatus 54.39.125.90:25606 status"

alias w=where

alias ks="kill -STOP"
alias kc="kill -CONT"

alias stop="kill -STOP \$(ps -ef | grep java | awk '{print $2}' | sed -n '2 p' | grep '\S')"
alias stahp="stop"
alias cont="kill -CONT \$(ps -ef | grep java | awk '{print $2}' | sed -n '2 p' | grep '\S')"
alias mc="echo \$(ps -ef | grep java | awk '{print $2}' | sed -n '2 p' | grep '\S')"

alias clean='brew cleanup -s --prune=0 $(brew list) $(brew list --cask)'

alias please="sudo \$(fc -ln -1)"

alias dim='ffprobe -v error -select_streams v:0 -show_entries stream=width,height -of csv=s=x:p=0'

alias nompv='brew uninstall --force --ignore-dependencies mpv'
alias brew-all='brew update; brew upgrade; nompv; brew upgrade --cask --greedy; brew doctor; clean'
alias bci='brew install'

alias termdown='termdown -W'
alias t='termdown'
alias clock='t -zZ "%H : %M : %S"'

alias globs='setopt nocaseglob; setopt nullglob'
alias sum_numbers="paste -s -d+ - | bc"
alias seconds='ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1'
alias sum_files='globs; for m in *.{MOV,MP4,MKV,AVI,M4V}; do seconds $m; done | sum_numbers'
alias sum_folders='globs; for f in *(/); do cd $f; sum_files; cd ..; done | sum_numbers'

alias psa='ps aux | g -v grep | g'

alias h='subl ~/.zsh_history'

alias u='unzip *.zip'

alias storage="df -h | head -2 | tail -1 | awk '{print \$4}'"
alias free=storage

alias update='tldr --update; brew-all; pyenv-update; zsh-update'

alias empty='trash -ey;free'
alias e='empty'

alias mvs='globs; unzip *.zip && rename-subs; mkdir subs; for f in *.srt; do nohi $f; mv $f subs; done; rm *addic7ed*'
alias mmvs='mvs; sleep 2; mv subs/* .; rm -r subs; rm *.zip; r movie; vlc *'
alias mtitle='for f in *.mkv; do mkvpropedit "$f" -e info -s title="${f%.*}"; done'
# alias fs='for f in *.mkv; do subs $f; done; mvs; mtitle; vv'
alias fs='for f in *.mkv; do subs $f; done; mvs; vv'

alias reboot_sound='sudo pkill -9 -f "coreaudiod"'

alias aria2c='aria2c --file-allocation=none -d ~/Desktop/yt'
alias dl='aria2c'

alias ad="addic7ed search"

alias po='vlc -f --rate 1 -Z *'

alias v='cd ~/v'
alias viz='~/bin/battery_cycles_visualizer; ~/bin/battery_health_visualizer'

alias ss='mkdir subs; for f in *.mkv; do subs $f; done; for f in *.srt; do mv $f subs; done;'
alias ss2='mkdir subs; for f in *.mkv; do subs $f; done; for f in *.srt; do mv $f subs; done;'
alias ss3='mkdir subs; for f in *.mkv; do subs $f 3; done; for f in *.srt; do mv $f subs; done;'

alias exts="find . -type f | sed -e 's/.*\.//' | sed -e 's/.*\///' | sort -u"

alias pngcrush='/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/usr/bin/pngcrush'
alias vv='vlc *.{mkv,mp4,m4v,avi}'

alias com="~/bin/commits.py"

alias pcon="piactl connect; exec zsh"
alias pdis="piactl disconnect"

alias k="open ~/.config/karabiner/karabiner.json"
alias downloads='netstat -i -I en0 -b | head -2 | tail -1 | awk '\''{ print $7 /1024/1024/1024 }'\'
alias uploads='netstat -i -I en0 -b | head -2 | tail -1 | awk '\''{ print $10 /1024/1024/1024 }'\'

alias G='cd ~/Github/'
alias events="icalBuddy -f 'eventsToday'"

alias wifi='open $HOME/Applications/reboot\ wifi.app'

alias c='chrome $(pbpaste)'
alias mute="osascript -e 'set Volume 0'"
alias java8='/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home/bin/java'

alias pms="/Applications/Plex\ Media\ Server.app/Contents/MacOS/Plex\ Media\ Scanner"

alias colab='jupyter notebook --NotebookApp.allow_origin='https://colab.research.google.com' --port=8888 --NotebookApp.port_retries=0'
alias public_ip='curl https://ipinfo.io/ip'

gitNewRepo()
{
    #$1 = repo name
    mkdir -p "$1"
    cd "$1"
    echo \# "$1" >> README.md
    cp $HOME/GitHub/LICENSE LICENSE
    touch .gitignore
    git init
    git add README.md LICENSE .gitignore
    git commit -m "first commit"
    # git remote add origin "https://github.com/beninato8/"$1".git"
    git remote add origin "git@github.com:beninato8/"$1".git"
    git push -u origin master
}
alias gnewrepo=gitNewRepo

gitCommit()
{
    git commit -m "$(echo $@)"
}
alias gc="gitCommit"

gitCheckout()
{
    git checkout $1 || git checkout -b $1
}
alias gcb="gitCheckout"

gitAddCommitPush()
{
    if ((${#*[@]} > 1)); then
        git add "$1"
        gc ${@:2}
        git push
        commits_out
    else
        echo "Not enough arguments in \"$@\""
    fi
}
alias gg='gitAddCommitPush'

gitRebaseOnto()
{
    current_branch=$(git branch --show-current)
    target_branch=${1:-master}
    git fetch origin || return 1
    BASE=$(git merge-base "$current_branch" "origin/$target_branch") || return 1
    git rebase --onto "origin/$target_branch" "$BASE" "$current_branch" || return 1
}
alias gro="gitRebaseOnto"

gitBranchDelete()
{
    [ -z "$1" ] && { echo "usage: gitDelete <branch>"; return 1; }
    git branch -D "$1" || return 1
    git push origin --delete "$1" || return 1
}
alias gbd="gitBranchDelete"

alias gmv="git mv -k"
alias ga="git add"
alias gaa="git add -A"
alias gs="git status"
alias gundo="git reset HEAD~"
alias gpl="git pull"
alias gps="git push; ~/b/commits_out"
alias gopen="git open"
alias gcheck='cd ~/Github; for d in *(/); do cd $d; echo; pwd; gs; ..; done'
alias git-clean='git gc --prune=now --aggressive'
alias gclean='cd ~/Github; for d in *(/); do cd $d; echo; pwd; git-clean; ..; done'
alias gd='git diff -w'
alias git-email="git log --format='%ae' | gsort | uniq"
alias gfpl='git fetch upstream; git checkout master; git reset --hard upstream/master; git push origin master --force'
alias gfps='git push --force'
alias glog="git log --color --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset' --abbrev-commit --branches"
alias gca="git commit --amend"
alias gmt="git mergetool"

yadmCommit()
{
    yadm commit -m "$(echo $@)"
}
alias yc="yadmCommit"
alias ya="yadm add"
alias ys="yadm status"
alias yd="yadm diff"
alias yps="yadm push; ~/b/commits_out"
alias yy="yadm add ~/.zshrc ~/.path ~/.aliases ~/.oh-my-zsh-custom; yadm commit -m \"dotfiles \$(date +%Y-%m-%d)\"; \
          yadm add ~/Library/Application\ Support/Sublime\ Text\ 3/Packages ~/Library/Application\ Support/Sublime\ Text\ 3/Installed\ Packages; yadm commit -m \"sublime \$(date +%Y-%m-%d)\"; \
          brew list > ~/system-commands/brew.txt; yadm add ~/system-commands/brew.txt; yadm commit -m \"brew list \$(date +%Y-%m-%d)\"; \
          yadm add ~/system-commands/*; yadm commit -m \"system-commands \$(date +%Y-%m-%d)\"; \
          yadm push; commits_out"

makeNewFile()
{
    #$1 = /path/file
    touch $1
    subl $1
}
alias f=makeNewFile

searchInFile()
{
    #$1 = path
    #$2 = text
    grep -rinl $1 -e "$2"
}
# alias ff=searchInFile
alias ff="rg -in"

searchForFileName()
{
    #$1 = text
    find . -iname "*$1*" || sudo find . -iname "*$1*"
}
alias fn=searchForFileName

searchInFilesOfType()
{
    #$1 = path
    #$2 = extension
    #$3 = text
    find $1 -name "*.$2" -exec grep -i "$3" {} \; -print || sudo find $1 -name "*.$2" -exec grep -i "$3" {} \; -print
}
alias ft=searchInFilesOfType

makeExecutable()
{
    chmod +x $1 || sudo chmod +x $1
}
alias x=makeExecutable

removeExecutable()
{
    chmod -x $1 || sudo chmod -x $1
}
alias nox=removeExecutable

goToNewFolder()
{
    #$1 = directory
    mkdir -p $1
    cd $1
}
# alias d=goToNewFolder
alias mm=goToNewFolder

runPython()
{
    #$@ = python program with optional args
    python3 "$@"
}
alias p=runPython

decodeString64()
{
    #$1 = string
    IN="$(echo $1 | tr -d '\n')"
    echo $IN | base64 --decode && echo
}
alias decode=decodeString64

bruteForceCesar()
{
    IN="$(echo "$@"|awk '{print toupper($0)}')"
    IN="$(echo $IN | tr -d '\n')"
    echo $IN
    for I in $(seq 25); do
        echo $I $IN | tr $(printf %${I}s | tr ' ' '.')\A-Z A-ZA-Z
    done
}
alias cesar=bruteForceCesar

binaryToASCII()
{
    #$1 = input
    echo $1 | perl -lpe '$_=pack"B*",$_'
}
alias bta=binaryToASCII

ASCIItoBinary()
{
    #$1 = input
    echo $1 | perl -lpe '$_=join "", unpack"(B8)*"'
}
alias atb=ASCIItoBinary

binaryToDecimal()
{
    #$1 = input
    echo $((2#$1))
}
alias btd=binaryToDecimal

subtitleExtract()
{
    #$1 = file
    #$2 = track num
    mkvextract tracks $1 $2:${1[0,-4]}srt
}
alias extract=subtitleExtract

trackNumbers()
{
    #$1 = file
    mkvmerge -i $1
}
alias tracks=trackNumbers

makeGif()
{
    #$1 = file
    palette="/tmp/palette.png"

    filters="fps=15"

    ffmpeg -v warning -i $1 -vf "$filters,palettegen=stats_mode=diff" -y $palette

    ffmpeg -i $1 -i $palette -lavfi "$filters,paletteuse=dither=bayer:bayer_scale=5:diff_mode=rectangle" -y ${1[0,-4]}gif
    # ffmpeg -i $1 ${1[0,-4]}gif
}
alias gif=makeGif

encodeVideo()
{
    #$1 = file
    ffmpeg -i "$1" -crf 18 -c:v libx264 -vf "scale=trunc(iw/2)*2:trunc(ih/2)*2" -preset fast -c:a libmp3lame -b:a 320k "${1[0,-5]}_encoded.mp4"
}
alias encode=encodeVideo

scaleMedia()
{
    #$1 = file
    #$2 = width
    ffmpeg -i $1 -vf "scale=trunc($2/2)*2:-1" ${1[0,-5]}"_w=$2"${1[-4,-1]}
}
alias scale=scaleMedia

extractAudio()
{
    ffmpeg -i $1 -q:a 3 -map a ${1[0,-4]}mp3
}
alias audio=extractAudio

extractThumbnail()
{
    ffmpeg -i $1 -vf "select=eq(n\,0)" -q:v 3 ${1[0,-4]}jpg
}
alias thumb=extractThumbnail

extractCoverArt()
{
    ffmpeg -i $1 -an -vcodec copy ${1[0,-4]}jpg
}
alias cover=extractCoverArt

searchHistory()
{
    #$1 = term
    fc -l 1 | grep -i "$1"
}
alias hg=searchHistory

fileCD()
{
    [ -f "$1" ] && { cd "$(dirname "$1")"; } || { cd "$1"; } #; pwd;
}
alias cd=fileCD

quicklook()
{
    qlmanage -p $1 > /dev/null 2>&1
}
alias q=quicklook

makeSubsSRT()
{
    mv $1 ${1[0,-4]}
    ffmpeg -i ${1[0,-4]} ${1[0,-4]}srt
    mv ${1[0,-4]} ~/.Trash/
}
alias srt=makeSubsSRT

extractAndConvertSubs()
{
    num=2
    if [[ $2 ]]; then
        num="$2"
    fi
    extract $1 $num
    srt ${1[0,-4]}srt
    nohi ${1[0,-4]}srt
}
alias subs=extractAndConvertSubs

getExtension()
{
    fullname=$(basename -- "$1")
    extension="${fullname##*.}"
    echo $extension
}
alias ext=getExtension

getFileName()
{
    fullname=$(basename -- "$1")
    filename="${fullname%.*}"
    echo $filename
}
alias name=getFileName

getImageDimension()
{
    identify -format "%w %h\n" $1
}
alias imgdim=getImageDimension

getImageWidth()
{
    identify -format "%w" $1
}
alias width=getImageWidth

getImageHeight()
{
    identify -format "%h" $1
}
alias height=getImageHeight

getImageResolution()
{
    identify -format '%x\n' $1
}
alias dpi=getImageResolution

makeSquare()
{
    convert $1 -gravity center -crop `identify -format "%[fx:min(w,h)]x%[fx:min(w,h)]+0+0" $1` +repage $(name $1)_square.$(ext $1)
}
alias square_crop=makeSquare

squarize()
{
    pic=$1
    convert $pic -trim $pic
    width=$(identify -format "%w" $pic)
    height=$(identify -format "%h" $pic)
    new_dim=$((width > height ? width+10 : height+10))
    convert $pic -gravity center -extent "${new_dim}x${new_dim}" $(name $pic).$(ext $pic)
}
alias square=squarize

javaCompileRun()
{
    #$1 = file
    f="$(name $1)"
    javac $1
    java $f $f.class
}
alias j=javaCompileRun

moveAndMakeDirectory()
{
    # args=${@%/}
    folder=${@: -1}
    folder=${folder%/}
    mkdir $folder

    files=""
    for f in $@; do
        files=$files"\n"$f
    done
    files=$(echo $files | tail -n +2 | ghead -n -1)
    while read -r f; do
        mv $f $folder/$f
    done <<< "$files"
}
alias mvm=moveAndMakeDirectory

countFiles()
{
    \ls $1 | wc -l
}
alias count=countFiles

splitImageVertically()
{
    mkdir split
    img="$1"
    size=$(echo "100/$2" | bc)

    convert -crop $size%x100% +repage "$img" "split/$(name $img)_%d.$(ext $img)"
}
alias split=splitImageVertically

splitMulti()
{
    num=2
    if [[ $1 ]]; then
        num="$1"
    fi
    for f in *.{jpg,png}; do
        split "$f" $num;
    done
}
alias splitall='splitMulti'

cropToSquare()
{
    side=256
    if [[ $2 ]]; then
        side="$2"
    fi
    convert -define jpeg:size="$side"x"$side" "$1" -thumbnail "$side"x"$side"^ -gravity center -extent "$side"x"$side" "$1"
}
alias mkth=cropToSquare

expandToSquare()
{
    color=white
    if [[ $2 ]]; then
        color="$2"
    fi
    convert $1 \( +clone -rotate 90 +clone -mosaic +level-colors "$color" \) +swap -gravity center -composite $1
}
alias expsq=expandToSquare

openTensorboard()
{
    open "http://localhost:6006/#images"
    tensorboard "$@"
}
alias tensorboard=openTensorboard

masSearch()
{
    mas list | g "$1" | awk '{print $1}'
}
alias m=masSearch

mkcd () {
  case "$1" in
    */..|*/../) cd -- "$1";; # that doesn't make any sense unless the directory already exists
    /*/../*) (cd "${1%/../*}/.." && mkdir -p "./${1##*/../}") && cd -- "$1";;
    /*) mkdir -p "$1" && cd "$1";;
    */../*) (cd "./${1%/../*}/.." && mkdir -p "./${1##*/../}") && cd "./$1";;
    ../*) (cd .. && mkdir -p "${1#.}") && cd "$1";;
    *) mkdir -p "./$1" && cd "./$1";;
  esac
}

bz() {
    for i in {1..16}; do osascript -e 'tell application "System Events"' -e 'key code 145' -e ' end tell'; sleep .1; done
}

privacy() {
    exiftool -overwrite_original -all= "$1"
    gtouch --date=@0 "$1"
}

timer() {
    # /usr/local/bin/termdown -W $((int(rint(($1-$2)*13.2*60)))) && say ding
    # /usr/local/bin/termdown -W $((int(rint(($1-$2)*9.3125*60)))) && say ding
    # /usr/local/bin/termdown -W $((int(rint(($1-$2)*9.3*60)))) && say ding
    /usr/local/bin/termdown -W $((int(rint(($1-$2)*9.31*60)))) && say ding
    # /usr/local/bin/termdown -W $((int(rint(($1-$2)*8.46*60)))) && say ding # phoebe
    # /usr/local/bin/termdown -W $((int(rint(($1-$2)*9.28125*60)))) && say ding
}

spotlight() {
    echo -n "Do you want to hide "$(pwd)" from Spotlight? "
    read REPLY
    if [[ $REPLY =~ ^[Yy]$ ]]
    then
        sudo /usr/libexec/PlistBuddy -c "Add :Exclusions:0 string '$(pwd)'" /System/Volumes/Data/.Spotlight-V100/VolumeConfiguration.plist
        sudo launchctl stop com.apple.metadata.mds && sudo launchctl start com.apple.metadata.mds
    fi
}

h264() {
    cp "$1" temp-h264.mp4
    ffmpeg -i temp-h264.mp4 -vcodec libx264 -crf 28 "$(name $1)".mp4 && rm temp-h264.mp4
}

h264an() {
    cp "$1" temp-h264an.mp4
    ffmpeg -i temp-h264an.mp4 -vcodec libx264 -crf 28 -an "$(name $1)".mp4 && rm temp-h264an.mp4
}

args_to_list() {
    local args
    args=("$@")  # Store all arguments in an array
    local formatted_args=()

    for arg in "${args[@]}"; do
        formatted_args+=("\"$arg\",")  # Surround each argument with double quotes
    done

    local output="${formatted_args[@]}"
    output="${output:0:-1}"  # Remove the last two characters

    echo "$output"
}

pods() {
    cd ios
    rm -rf Pods Podfile.lock
    pod repo update && pod install
    cd ..
}
